body {
    margin: 0;
    font-family: serif;
    background: #f6dede;
}

/* NAVBAR */
.navbar {
    background: #7b2d2d;
    color: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.white-logo {
    width: 30px;
    padding-right: 5px;
}

.logo {
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: #e6cfcf;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 15px;
    align-items: center;
}

nav a.active {
    background: #5a1f1f;
    color: white;
}

.nav-centre{
    padding-right: 50px;
    font-size: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-icon, .settings-icon, .profile-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
}


/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 85px;
    font-weight: bold;
}

.hero p {
    font-size: 25px;
}

.btn {
    background: #7b2d2d;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/*ABOUT*/
.about {
    text-align: center;

}

.about h2{
    font-size: 35px;
}

.about .icon{
    width: 50px;
}

.about p {
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
}

.black-logo {
    width: 200px;
    display: block;
    margin: 20px auto;
}

/*JAKIM*/

.jakim {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
}

.jakim-logo {
    width: 200px;
    align-self: center;
    margin: 20px 0;
}

.jakim p {
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;

}

.jakim h2{
    font-size: 35px;
    margin-bottom: 20px;
}

/*HALAL*/
.halal {
    text-align: center;
}

.halal h2{
    font-size: 35px;
}

.halal .verse{
    font-size: 25px;
}

.card-container {
    padding-top: 30px;
    font-size: 20px;
    display: flex;
    gap: 30px;             /* jarak antara card */
    justify-content: center;
    flex-wrap: wrap;       /* responsive */
}

/* SECTION */
.section {
    text-align: center;
    padding: 50px 30px;
}

.icon {
    font-size: px;
    margin: 15px 0;
}

.jakim-logo {
    width: 300px;
    margin: 15px 0;
}

/* CARDS */
.card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background: #7b2c2c;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
}

/* VERSE */
.verse {
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
}

/* FOOTER */
.footer {
    background: #6d1f1f;
    color: white;
    padding: 25px 60px;
}

/* TOP ROW */
.footer-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* SECTION */
.footer-section {
    text-align: center;
    flex: 1;
}

.footer-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ICONS */
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.footer-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* DIVIDER */
.footer-divider {
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.6);
    margin: 15px 0;
}

/* BOTTOM ROW */
.footer-bottom-row {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    opacity: 0.9;
}

.faq {
    text-align: left;
}

.footer-copy {
    text-align: right;
}

/* DARK MODE */
body.dark .footer {
    background: #000000;
}

/*SETTINGS */
.setting-item {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.settings-page {
    padding: 60px;
    color: #000000;
    margin-top: 20px;
    font-size: 25px;
}

.settings-page h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-left: 280px;    
}

.settings-card {
    background: #b67b7b;
    padding: 30px;
    border-radius: 15px;
    width: 60%;
    align-items: center;
    margin: 0 auto;
}

.h3 {
    color: #6d2a2a;
}

/* TOGGLE */
.switch {
    position: relative;
    width: 42px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background: #6d2a2a;
    border-radius: 20px;
    top: 0; left: 0;
    right: 0; bottom: 0;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
}

/*DARK MODE*/
body.dark {
    background: #2f2f2f;
    color: #ffffff;
}

body.dark .navbar {
    background: #000000;
}

body.dark nav a {
    color: #dddddd;
}

body.dark nav a.active {
    background: #3a3a3a;
}

body.dark .settings-page {
    padding: 60px;
}

body.dark .settings-card {
    background: #000000;
    padding: 30px;
    border-radius: 15px;
    width: 60%;
}

body.dark .section-title {
    color: #d18b8b;
    margin-top: 20px;
}

body.dark .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
}

body.dark .switch {
    position: relative;
    width: 44px;
    height: 22px;
}

body.dark .switch input {
    display: none;
}

body.dark .slider {
    background: #c98c8c;
    border-radius: 20px;
    position: absolute;
    inset: 0;
}

body.dark.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

body.dark.switch input:checked + .slider::before {
    transform: translateX(22px);
}

body.dark .footer {
    background: #000000;
    color: white;
}

/* DIVIDER LINE */
.divider {
    border: none;
    height: 2px;
    background-color: #7b2c2c;
    width: 100%;
    margin: 40px auto;
}

/*PROFILE PAGE*/
/* BACKGROUND PAGE */
.profile-page {
    position: relative;
    min-height: 100vh;
}

.profile-wrapper {
    background-color: #fdebea;
    min-height: 75vh;
    padding-top: 20px;
}

/* WELCOME */
.welcome-title {
    text-align: center;
    color: #6b1f1f;
    font-size: 28px;
    margin-bottom: 40px;
}

/* CARD */
.profile-card {
    background: white;
    border-radius: 12px;
    padding: 50px 70px;
    max-width: 900px;
    margin: 0 auto;
}

/* AVATAR */
.avatar {
    text-align: center;
}

.avatar-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #c97c7c;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-circle img {
    width: 90px;
    opacity: 0.9;
}

.edit-link {
    color: #6b1f1f;
    font-size: 14px;
    text-decoration: underline;
}

/* INFO */
.info h2 {
    color: #6b1f1f;
    margin-bottom: 25px;
}

.info-item {
    color: #6b1f1f;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 1.6;
}

/* SUCCESS */
.success-msg {
    text-align: center;
    color: green;
    margin-top: 30px;
}

.logout-btn {
    position: absolute;
    bottom: 200px;
    right: 50px;
}

.logout-btn button {
    background-color: #6b1c1c;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 999px;
    font-size: 16px;
    cursor: pointer;
}

.logout-btn button:hover {
    background-color: #531414;
}

/*EDIT PROFILE*/
nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #6b1f1f;
    font-weight: bold;
    font-size: 35px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px;
}

.avatar {
    text-align: center;
}

.avatar-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #c97c7c;
    margin-bottom: 10px;
}

form {
    width: 400px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: none;
    background-color: #eee;
}

button {
    padding: 12px 40px;
    border-radius: 20px;
    border: none;
    background-color: #c97c7c;
    color: white;
    font-size: 16px;
}




















