body {
    margin: 0;
    font-family: serif;
    background: #f6dede;
}

/* NAVBAR */
.navbar {
    background: #7b2d2d;
    color: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.white-logo {
    width: 30px;
    padding-right: 5px;
}

.logo {
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: #e6cfcf;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 15px;
    align-items: center;
}

nav a.active {
    background: #5a1f1f;
    color: white;
}

.nav-centre{
    padding-right: 50px;
    font-size: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-icon, .settings-icon, .profile-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
}


/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 85px;
    font-weight: bold;
}

.hero p {
    font-size: 25px;
}

.btn {
    background: #7b2d2d;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/*ABOUT*/
.about {
    text-align: center;

}

.about h2{
    font-size: 35px;
}

.about .icon{
    width: 50px;
}

.about p {
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
}

.black-logo {
    width: 200px;
}

/*JAKIM*/

.jakim {
    text-align: center;
}

.jakim p {
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
}

.jakim h2{
    font-size: 35px;
}

/*HALAL*/
.halal {
    text-align: center;
}

.halal h2{
    font-size: 35px;
}

.halal .verse{
    font-size: 25px;
}

.card {
    font-size: 25px;
}

/* SECTION */
.section {
    text-align: center;
    padding: 50px 30px;
}

.icon {
    font-size: px;
    margin: 15px 0;
}

.jakim-logo {
    width: 300px;
    margin: 15px 0;
}

/* CARDS */
.card-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background: #7b2c2c;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
}

/* VERSE */
.verse {
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
}

/* FOOTER */
.footer {
    background: #7b2d2d;
    color: white;
    text-align: center;
    padding: 1px 20px;  
}

.email-icon{
    width: 38px;
}

.call-icon{
    width: 38px;
}

.ig-icon{
    width: 38px;
    padding-bottom: 1px;
    padding-right: 5px;
}

.tiktok-icon{
    width: 32px;
}

.footer-icons span {
    margin: 0 10px;
    cursor: pointer;
}

.footer-copy {
    margin-top: 20px;
    font-size: 15px;
}

.footer-top-row {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;        
    margin-bottom: 20px;
    padding-top: 5px;
}

.footer-contact, .footer-follow {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-contact {
    padding-left: 450px;
}

.footer-follow {
    padding-right: 450px;
}


.footer-bottom-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 0.85rem;             
    opacity: 0.9;
}

.footer-copy {
    align-items: right;
}

.faq {
    align-items: left;
    font-size: 15px;
}
/*SETTINGS */
.setting-item {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}


.settings-page {
    padding: 60px;
}

.settings-page h1{
    padding-left: 250px;
}

.settings-card {
    background: #b67b7b;
    padding: 30px;
    border-radius: 15px;
    width: 60%;
    align-items: center;
    margin: 0 auto;
}

.h3 {
    color: #6d2a2a;
}

/* TOGGLE */
.switch {
    position: relative;
    width: 42px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background: #6d2a2a;
    border-radius: 20px;
    top: 0; left: 0;
    right: 0; bottom: 0;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
}

/*DARK MODE*/
body.dark {
    background: #2f2f2f;
    color: #ffffff;
}

body.dark .navbar {
    background: #000000;
}

body.dark nav a {
    color: #dddddd;
}

body.dark nav a.active {
    background: #3a3a3a;
}

body.dark .settings-page {
    padding: 60px;
}

body.dark .settings-card {
    background: #000000;
    padding: 30px;
    border-radius: 15px;
    width: 60%;
}

body.dark .section-title {
    color: #d18b8b;
    margin-top: 20px;
}

body.dark .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
}

body.dark .switch {
    position: relative;
    width: 44px;
    height: 22px;
}

body.dark .switch input {
    display: none;
}

body.dark .slider {
    background: #c98c8c;
    border-radius: 20px;
    position: absolute;
    inset: 0;
}

body.dark.slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

body.dark.switch input:checked + .slider::before {
    transform: translateX(22px);
}

body.dark .footer {
    background: #000000;
    color: white;
}

/* DIVIDER LINE */
.divider {
    border: none;
    height: 2px;
    background-color: #7b2c2c;
    width: 100%;
    margin: 40px auto;
}
